
.buttonA {
    display: inline-block;
    background-color: whitesmoke;
    text-transform: uppercase;
    padding: 20px 30px;
    border-radius: 5px;
    cursor: pointer;
    -webkit-transition: all ease-in-out 300ms;
    transition: all ease-in-out 300ms;
    float: right;
    position: relative;
    margin-top: 40px;

}

.buttonA:hover {
    -webkit-transform: translate(0px, -10px) scale(1.2);
    transform: translate(0px, -10px) scale(1.1);
    background-color: grey;
    color: whitesmoke;
}

