.dataInfo {
    width: 60px;
    margin-left: 30px;
}

.html{
    background-color: whitesmoke;
}


/*
Changer la taille du composant button d'entity
 */
.buttonW {
    padding: 0px;
    margin: 0px;

}
