.compoTexts{
    height: 100%;
    width: 80%;
    padding: 5%;
    margin: 10%;
    border-color:grey;
    border-width:5px;
    border-style: solid;
    border-radius: 30px;
    background-color: whitesmoke;
    font-family: "Times New Roman";
    font-size: 20px;

}

.dataInfo {
width: 60px;
}
